@use '../../../styles/mixins' as *;

.input {
  display: flex;

  width: 100%;
  height: 40px;

  padding: 0 var(--spacing-3);

  font-family: var(--default-font-family);
  font-size: var(--font-body-m-size);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-body-m-line-height);
  color: var(--on-surface);

  outline: none;

  background-color: var(--surface);
  border: 1px solid var(--outline-variant);
  border-radius: var(--radius-sm);

  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;

  &::placeholder {
    color: var(--on-surface-variant);

    opacity: 0.6;
  }

  &:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 1px var(--primary);
  }

  &:disabled {
    cursor: not-allowed;

    background-color: var(--surface-container-low);
    opacity: 0.5;
  }

  &[type='file'] {
    padding: var(--spacing-2) var(--spacing-3);

    font-size: var(--font-body-s-size);

    &::file-selector-button {
      margin-right: var(--spacing-2);
      padding: var(--spacing) var(--spacing-2);

      font-family: var(--default-font-family);
      font-size: var(--font-body-s-size);
      font-weight: var(--font-weight-medium);
      color: var(--on-surface);

      cursor: pointer;

      background-color: transparent;
      border: none;
      border-radius: var(--radius-sm);

      @include hover {
        background-color: var(--surface-container);
      }
    }
  }
}

.error {
  border-color: var(--error);

  &:focus {
    border-color: var(--error);
    box-shadow: 0 0 0 1px var(--error);
  }
}
