.label {
  display: inline-block;

  margin-bottom: var(--spacing);

  font-family: var(--default-font-family);
  font-size: var(--font-body-s-size);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-body-s-line-height);
  color: var(--on-surface);

  cursor: pointer;
  user-select: none;
}

.required {
  margin-left: var(--spacing);

  color: var(--error);
}

.disabled {
  cursor: not-allowed;

  opacity: 0.5;
}
