.form {
  display: flex;

  flex-direction: column;
  gap: var(--spacing-4);
}

.submitButton {
  width: 100%;

  margin-top: var(--spacing-2);
}

.error {
  padding: var(--spacing-3);

  font-size: var(--font-body-s-size);
  text-align: center;
  color: var(--on-error-container);

  background-color: var(--error-container);
  border-radius: var(--radius-md);
}
