.loader {
  display: inline-flex;

  align-items: center;
  justify-content: center;
}

.spinner {
  border-color: currentColor;
  border-style: solid;
  border-top-color: transparent;
  border-radius: 50%;

  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.sm {
  .spinner {
    width: 16px;
    height: 16px;

    border-width: 2px;
  }
}

.md {
  .spinner {
    width: 20px;
    height: 20px;

    border-width: 2px;
  }
}

.lg {
  .spinner {
    width: 24px;
    height: 24px;

    border-width: 3px;
  }
}
