@use "../../../styles/breakpoints" as *;

.titleXl {
  margin: 0;

  font-family: var(--default-font-family);
  font-size: var(--font-title-xl-size);
  font-weight: var(--font-title-xl-weight);
  line-height: var(--font-title-xl-line-height);
  letter-spacing: var(--font-title-xl-tracking);

  @include media-s {
    font-size: calc(var(--font-title-xl-size) * 0.875);
    line-height: calc(var(--font-title-xl-line-height) * 0.875);
  }
}

.titleL {
  margin: 0;

  font-family: var(--default-font-family);
  font-size: var(--font-title-l-size);
  font-weight: var(--font-title-l-weight);
  line-height: var(--font-title-l-line-height);
  letter-spacing: var(--font-title-l-tracking);

  @include media-s {
    font-size: calc(var(--font-title-l-size) * 0.875);
    line-height: calc(var(--font-title-l-line-height) * 0.875);
  }
}

.titleM {
  margin: 0;

  font-family: var(--default-font-family);
  font-size: var(--font-title-m-size);
  font-weight: var(--font-title-m-weight);
  line-height: var(--font-title-m-line-height);
  letter-spacing: var(--font-title-m-tracking);
}

.titleS {
  margin: 0;

  font-family: var(--default-font-family);
  font-size: var(--font-title-s-size);
  font-weight: var(--font-title-s-weight);
  line-height: var(--font-title-s-line-height);
  letter-spacing: var(--font-title-s-tracking);
}

.titleXs {
  margin: 0;

  font-family: var(--default-font-family);
  font-size: var(--font-title-xs-size);
  font-weight: var(--font-title-xs-weight);
  line-height: var(--font-title-xs-line-height);
  letter-spacing: var(--font-title-xs-tracking);
}

.bodyL {
  margin: 0;

  font-family: var(--default-font-family);
  font-size: var(--font-body-l-size);
  font-weight: var(--font-body-l-weight);
  line-height: var(--font-body-l-line-height);
  letter-spacing: var(--font-body-l-tracking);
}

.bodyM {
  margin: 0;

  font-family: var(--default-font-family);
  font-size: var(--font-body-m-size);
  font-weight: var(--font-body-m-weight);
  line-height: var(--font-body-m-line-height);
  letter-spacing: var(--font-body-m-tracking);
}

.bodyS {
  margin: 0;

  font-family: var(--default-font-family);
  font-size: var(--font-body-s-size);
  font-weight: var(--font-body-s-weight);
  line-height: var(--font-body-s-line-height);
  letter-spacing: var(--font-body-s-tracking);
}
