@use "../../../styles/mixins" as *;

.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;

  background-color: rgb(0 0 0 / 50%);

  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &[data-state="open"] {
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &[data-state="closed"] {
    animation: overlayHide 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;

  display: grid;

  gap: var(--spacing-4);

  width: calc(100% - var(--spacing-4));
  max-width: 512px;

  padding: var(--spacing-6);

  color: var(--on-surface);

  background-color: var(--surface);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);

  transform: translate(-50%, -50%);

  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &:focus {
    outline: none;
  }

  &[data-state="open"] {
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &[data-state="closed"] {
    animation: contentHide 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}

.close {
  position: absolute;
  top: var(--spacing-4);
  right: var(--spacing-4);

  display: inline-flex;

  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  color: var(--on-surface-variant);

  cursor: pointer;

  background: transparent;
  opacity: 0.7;
  border: none;
  border-radius: var(--radius-sm);

  transition: opacity 0.2s;

  @include hover {
    background-color: var(--surface-container);
    opacity: 1;
  }

  &:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 2px;

    opacity: 1;
  }

  &:disabled {
    pointer-events: none;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.header {
  display: flex;

  flex-direction: column;
  gap: var(--spacing-2);

  text-align: center;
}

.footer {
  display: flex;

  flex-direction: column-reverse;
  gap: var(--spacing-2);
}

.title {
  font-family: var(--default-font-family);
  font-size: var(--font-title-l-size);
  font-weight: var(--font-weight-semibold);
  line-height: var(--font-title-l-line-height);
}

.description {
  font-family: var(--default-font-family);
  font-size: var(--font-body-s-size);
  line-height: var(--font-body-s-line-height);
  color: var(--on-surface-variant);
}

.srOnly {
  position: absolute;

  width: 1px;
  height: 1px;

  padding: 0;

  overflow: hidden;

  word-wrap: normal;
  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes overlayHide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;

    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;

    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes contentHide {
  from {
    opacity: 1;

    transform: translate(-50%, -50%) scale(1);
  }

  to {
    opacity: 0;

    transform: translate(-50%, -48%) scale(0.96);
  }
}

@media (min-width: 640px) {
  .footer {
    flex-direction: row;
    justify-content: flex-end;
  }

  .header {
    text-align: left;
  }
}
