:root {
  --default-font-family: 'Poppins', sans-serif;
  --accent-font-family: 'Outfit', sans-serif;

  --font-title-xl-size: 32px;
  --font-title-xl-line-height: 40px;
  --font-title-xl-weight: 500;
  --font-title-xl-tracking: 0px;

  --font-title-l-size: 24px;
  --font-title-l-line-height: 32px;
  --font-title-l-weight: 500;
  --font-title-l-tracking: 0px;

  --font-title-m-size: 20px;
  --font-title-m-line-height: 28px;
  --font-title-m-weight: 500;
  --font-title-m-tracking: 0.15px;

  --font-title-s-size: 16px;
  --font-title-s-line-height: 24px;
  --font-title-s-weight: 500;
  --font-title-s-tracking: 0.1px;

  --font-title-xs-size: 14px;
  --font-title-xs-line-height: 20px;
  --font-title-xs-weight: 500;
  --font-title-xs-tracking: 0.1px;

  --font-body-l-size: 16px;
  --font-body-l-line-height: 24px;
  --font-body-l-weight: 400;
  --font-body-l-tracking: 0.5px;

  --font-body-m-size: 14px;
  --font-body-m-line-height: 20px;
  --font-body-m-weight: 400;
  --font-body-m-tracking: 0.25px;

  --font-body-s-size: 12px;
  --font-body-s-line-height: 16px;
  --font-body-s-weight: 400;
  --font-body-s-tracking: 0.4px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}
