:root {
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 20px;
  --radius-3xl: 24px;
  --radius-4xl: 32px;
  --radius-full: 50%;

  --spacing: 4px;

  @for $i from 2 through 30 {
    --spacing-#{$i}: calc(var(--spacing) * #{$i});
  }
}
