:root {
  --purple-0: #000000;
  --purple-5: #160041;
  --purple-10: #22005D;
  --purple-15: #2D1067;
  --purple-20: #381E72;
  --purple-25: #432B7E;
  --purple-30: #4F378A;
  --purple-35: #5B4397;
  --purple-40: #6750A4;
  --purple-50: #8069BF;
  --purple-60: #9A83DB;
  --purple-70: #B69DF7;
  --purple-80: #CFBCFF;
  --purple-90: #E9DDFF;
  --purple-95: #F6EEFF;
  --purple-98: #FDF7FF;
  --purple-99: #FFFBFF;
  --purple-100: #FFFFFF;
  --slate-0: #000000;
  --slate-5: #130E20;
  --slate-10: #1E192B;
  --slate-15: #282336;
  --slate-20: #332D41;
  --slate-25: #3E384D;
  --slate-30: #4A4459;
  --slate-35: #564F65;
  --slate-40: #625B71;
  --slate-50: #7B738B;
  --slate-60: #958DA5;
  --slate-70: #B0A7C0;
  --slate-80: #CCC2DC;
  --slate-90: #E8DEF9;
  --slate-95: #F6EEFF;
  --slate-98: #FDF7FF;
  --slate-99: #FFFBFF;
  --slate-100: #FFFFFF;
  --pink-0: #000000;
  --pink-5: #240612;
  --pink-10: #31101D;
  --pink-15: #3D1B27;
  --pink-20: #4A2532;
  --pink-25: #56303D;
  --pink-30: #633B48;
  --pink-35: #704654;
  --pink-40: #7E5260;
  --pink-50: #996A78;
  --pink-60: #B58392;
  --pink-70: #D29DAC;
  --pink-80: #EFB8C8;
  --pink-90: #FFD9E3;
  --pink-95: #FFECF0;
  --pink-98: #FFF8F8;
  --pink-99: #FFFBFF;
  --pink-100: #FFFFFF;
  --gray-0: #000000;
  --gray-5: #111111;
  --gray-10: #1C1B1C;
  --gray-15: #262526;
  --gray-20: #313030;
  --gray-25: #3C3B3B;
  --gray-30: #484646;
  --gray-35: #545252;
  --gray-40: #605E5E;
  --gray-50: #797676;
  --gray-60: #939090;
  --gray-70: #ADAAAA;
  --gray-80: #C9C6C5;
  --gray-90: #E5E1E1;
  --gray-95: #F4F0EF;
  --gray-98: #FDF8F8;
  --gray-99: #FFFBFF;
  --gray-100: #FFFFFF;
  --gray-variant-0: #000000;
  --gray-variant-5: #111112;
  --gray-variant-10: #1C1B1C;
  --gray-variant-15: #262526;
  --gray-variant-20: #313031;
  --gray-variant-25: #3C3B3C;
  --gray-variant-30: #484647;
  --gray-variant-35: #545253;
  --gray-variant-40: #605E5F;
  --gray-variant-50: #797677;
  --gray-variant-60: #939091;
  --gray-variant-70: #AEAAAB;
  --gray-variant-80: #C9C5C6;
  --gray-variant-90: #E6E1E2;
  --gray-variant-95: #F4F0F0;
  --gray-variant-98: #FDF8F9;
  --gray-variant-99: #FFFBFF;
  --gray-variant-100: #FFFFFF;
}
