:root {
  --primary: #65558F;
  --surface-tint: #6750A4;
  --on-primary: #FFFFFF;
  --primary-container: #EADDFF;
  --on-primary-container: #4F378B;
  --secondary: #625B71;
  --on-secondary: #FFFFFF;
  --secondary-container: #E8DEF8;
  --on-secondary-container: #4A4458;
  --tertiary: #7D5260;
  --on-tertiary: #FFFFFF;
  --tertiary-container: #FFD8E4;
  --on-tertiary-container: #633B48;
  --error: #B3261E;
  --on-error: #FFFFFF;
  --error-container: #F9DEDC;
  --on-error-container: #8C1D18;
  --background: #FEF7FF;
  --on-background: #1D1B20;
  --surface: #FEF7FF;
  --on-surface: #1D1B20;
  --surface-variant: #E7E0EC;
  --on-surface-variant: #49454F;
  --outline: #79747E;
  --outline-variant: #CAC4D0;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #322F35;
  --inverse-on-surface: #F5EFF7;
  --inverse-primary: #D0BCFF;
  --primary-fixed: #EADDFF;
  --on-primary-fixed: #21005D;
  --primary-fixed-dim: #D0BCFF;
  --on-primary-fixed-variant: #4F378B;
  --secondary-fixed: #E8DEF8;
  --on-secondary-fixed: #1D192B;
  --secondary-fixed-dim: #CCC2DC;
  --on-secondary-fixed-variant: #4A4458;
  --tertiary-fixed: #FFD8E4;
  --on-tertiary-fixed: #31111D;
  --tertiary-fixed-dim: #EFB8C8;
  --on-tertiary-fixed-variant: #633B48;
  --surface-dim: #DED8E1;
  --surface-bright: #FEF7FF;
  --surface-container-lowest: #FFFFFF;
  --surface-container-low: #F7F2FA;
  --surface-container: #F3EDF7;
  --surface-container-high: #ECE6F0;
  --surface-container-highest: #E6E0E9;
}

[data-theme="dark"] {
  --primary: #D0BCFE;
  --surface-tint: #D0BCFF;
  --on-primary: #381E72;
  --primary-container: #4F378B;
  --on-primary-container: #EADDFF;
  --secondary: #CCC2DC;
  --on-secondary: #332D41;
  --secondary-container: #4A4458;
  --on-secondary-container: #E8DEF8;
  --tertiary: #EFB8C8;
  --on-tertiary: #492532;
  --tertiary-container: #633B48;
  --on-tertiary-container: #FFD8E4;
  --error: #F2B8B5;
  --on-error: #601410;
  --error-container: #8C1D18;
  --on-error-container: #F9DEDC;
  --background: #141218;
  --on-background: #E6E0E9;
  --surface: #141218;
  --on-surface: #E6E0E9;
  --surface-variant: #49454F;
  --on-surface-variant: #CAC4D0;
  --outline: #938F99;
  --outline-variant: #49454F;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #E6E0E9;
  --inverse-on-surface: #322F35;
  --inverse-primary: #6750A4;
  --primary-fixed: #EADDFF;
  --on-primary-fixed: #21005D;
  --primary-fixed-dim: #D0BCFF;
  --on-primary-fixed-variant: #4F378B;
  --secondary-fixed: #E8DEF8;
  --on-secondary-fixed: #1D192B;
  --secondary-fixed-dim: #CCC2DC;
  --on-secondary-fixed-variant: #4A4458;
  --tertiary-fixed: #FFD8E4;
  --on-tertiary-fixed: #31111D;
  --tertiary-fixed-dim: #EFB8C8;
  --on-tertiary-fixed-variant: #633B48;
  --surface-dim: #141218;
  --surface-bright: #3B383E;
  --surface-container-lowest: #0F0D13;
  --surface-container-low: #1D1B20;
  --surface-container: #211F26;
  --surface-container-high: #2B2930;
  --surface-container-highest: #36343B;
}
