name: Lint, test and check types on PR

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: pull-request-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get environment versions
        id: env
        uses: ./.github/actions/env-versions

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.env.outputs.node_version }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ${{ steps.env.outputs.pnpm_version }}

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run lint
        run: pnpm lint

      - name: Run type-check
        run: pnpm type-check

      - name: Run stylelint
        run: pnpm stylelint

      - name: Run tests
        run: pnpm test
